

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.app-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(127, 76, 215, 0.2);
}

.app-title {
    font-size: 24px;
}

.input-container {
    display: flex;
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements vertically */
    margin-top: 20px;
}

#sliders-container {
    display: flex;
    flex-direction: column; /* Stack sliders vertically */
    align-items: center; /* Center sliders horizontally */
    justify-content: center; /* Center sliders vertically */
    margin-top: 20px;
}

.slider-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 80%; /* 80% of the screen width */
    min-width: 400px; /* Minimum width of 400px */
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements horizontally */
    margin-bottom: 10px;
}

.slider-input {
    width: 60%; /* 60% for the slider */
}

.slider-name {
    width: 20%; /* 20% for the text, including 5px margin */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Display ellipsis for long text */
    margin-left: 5px; /* 5px margin from the left wall */
}

.slider-value {
    width: 20%; /* 20% for the slider value, including 10px margin on each side */
    text-align: right;
    margin: 0 10px; /* 10px margin on each side of the slider value */
}

.delete-button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 5px; /* Adjust top positioning */
    right: 5px; /* Adjust right positioning */
}